<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <dict>
            <key>kind</key>
            <string>software-package</string>
            <key>url</key>
            <string>https://raw.githubusercontent.com/lb8888/yg6789.com/master/yg6789.com.ipa</string>
          </dict>
          <dict>
            <key>kind</key>
            <string>display-image</string>
            <key>needs-shine</key>
            <true/>
            <key>url</key>
            <string>http://23.234.5.130/content/skin/yangguang/images/share/logo_ioc.png</string>
          </dict>
          <dict>
            <key>kind</key>
            <string>full-size-image</string>
            <key>needs-shine</key>
            <true/>
            <key>url</key>
            <string>http://23.234.5.130/content/skin/yangguang/images/share/logo_ioc.png</string>
          </dict>
        </array>
        <key>metadata</key>
        <dict>
          <key>bundle-identifier</key>
          <string>com.cloud.3021</string>
          <key>bundle-version</key>
          <string>2</string>
          <key>kind</key>
          <string>software</string>
          <key>subtitle</key>
          <string>阳光国际</string>
          <key>title</key>
          <string>阳光国际</string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>